---
import Button from '../components/Button.astro';
import Content1 from '../components/Content1.astro'
import Hero1 from '../components/Hero1.astro'
import Header1 from '../components/Header1.astro'
import Accordion1 from '../components/Accordion1.astro'
---
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <link rel="icon" type="image/x-icon" href="/favicon.ico" />
    <title>Astro + TailwindCSS</title>
    <link rel="stylesheet" type="text/css" href={Astro.resolve("../styles/global.css")}>
  </head>

  <body>
  <Header1 />
	 <Hero1 />
   <Content1 />
   <Accordion1 />
</body>

</html>
