<!-- /* <style>@media (max-width: 879px) {
  #div-1 {
    overflow-x: hidden !important; overflow-y: hidden !important;
  }
}
@media (max-width: 992px) {
  #header-1 {
    position: relative !important; top: auto !important; left: auto !important;
  }
}
@media (max-width: 1199px) {
  #div-2 {
    display: none !important;
  }
  #div-3 {
    display: none !important;
  }
  #section-1 {
    padding-top: 0px !important; padding-bottom: 0px !important; padding-right: 20px !important; padding-left: 20px !important;
  }
  #div-10 {
    width: 100% !important;
  }
  #div-11 {
    width: 100% !important; margin-right: 0px !important; margin-bottom: 20px !important;
  }
  #div-14 {
    bottom: -17% !important; right: 12% !important;
  }
  #div-18 {
    top: -4% !important; right: -7% !important;
  }
  #div-20 {
    margin-top: 0px !important; margin-right: -16% !important; margin-bottom: 0px !important; margin-left: -13% !important;
  }
  #section-2 {
    padding-right: 0px !important; padding-left: 0px !important; padding-top: 170px !important; padding-bottom: 170px !important;
  }
  #svg-1 {
    height: 110px !important;
  }
  #svg-2 {
    height: 110px !important;
  }
  #section-3 {
    padding-right: 20px !important; padding-left: 20px !important;
  }
  #section-4 {
    padding-right: 20px !important; padding-left: 20px !important; padding-top: 50px !important;
  }
  #section-5 {
    padding-right: 20px !important; padding-left: 20px !important;
  }
  #div-49 {
    top: 355px !important; left: 0px !important;
  }
  #div-54 {
    margin-top: -12% !important; margin-right: -10% !important; margin-bottom: -20% !important; margin-left: 0px !important;
  }
  #section-6 {
    padding-right: 20px !important; padding-left: 20px !important; padding-top: 180px !important; padding-bottom: 170px !important;
  }
  #svg-3 {
    height: 120px !important;
  }
  #section-7 {
    padding-right: 20px !important; padding-left: 20px !important; padding-top: 100px !important; padding-bottom: 100px !important;
  }
  #div-75 {
    left: 19% !important;
  }
  #div-76 {
    margin-bottom: 30px !important;
  }
  #section-8 {
    padding: 0px !important;
  }
  #section-9 {
    padding-right: 20px !important; padding-left: 20px !important;
  }
  #div-86 {
    display: none !important;
  }
  #div-88 {
    display: none !important;
  }
  #div-91 {
    width: 100% !important;
  }
  #div-93 {
    width: 380px !important; bottom: -3.4% !important; left: -2.8% !important;
  }
  #footer-1 {
    padding-right: 20px !important; padding-left: 20px !important;
  }
}

@media (max-width: 480px) {
  #div-4 {
    height: 35vh !important;
  }
  #input-1 {
    height: 80px !important; padding-right: 50px !important;
  }
  #span-1 {
    width: 45px !important; height: 45px !important;
  }
}
@media (max-width: 1200px) {
  #div-5 {
    max-width: 90vw !important;
  }
}
@media (max-width: 768px) {
  #input-1 {
    height: 90px !important;
  }
  #nav-2 {
    width: 100% !important; margin-bottom: 1.5em !important;
  }
  #div-53 {
    width: 100% !important;
  }
  #div-61 {
    max-width: 100vw !important;
  }
  #div-66 {
    max-width: 100vw !important;
  }
}
@media (max-width: 991px) {
  #div-6 {
    display: none !important;
  }
  #div-13 {
    flex-direction: column !important;
  }
  #div-15 {
    flex-direction: column !important;
  }
  #div-17 {
    flex-direction: column !important;
  }
  #div-19 {
    flex-direction: column !important;
  }
  #div-21 {
    flex-direction: column !important;
  }
  #div-25 {
    flex-direction: column !important;
  }
  #div-28 {
    flex-direction: column !important;
  }
  #div-31 {
    flex-direction: column !important;
  }
  #div-34 {
    flex-direction: column !important;
  }
  #div-36 {
    flex-direction: column !important;
  }
  #div-38 {
    flex-direction: column !important;
  }
  #div-39 {
    flex-direction: column !important;
  }
  #div-40 {
    width: 100% !important;
  }
  #div-41 {
    width: 47% !important;
  }
  #div-42 {
    width: 47% !important;
  }
  #div-43 {
    width: 47% !important;
  }
  #div-44 {
    width: 47% !important;
  }
  #div-45 {
    width: 47% !important;
  }
  #div-46 {
    width: 47% !important;
  }
  #div-51 {
    flex-direction: column !important;
  }
  #div-52 {
    flex-direction: column !important;
  }
  #div-54 {
    margin: 0px !important;
  }
  #div-55 {
    flex-direction: column !important;
  }
  #div-57 {
    flex-direction: column !important;
  }
  #div-77 {
    flex-direction: column !important;
  }
  #div-82 {
    flex-direction: column !important;
  }
  #div-83 {
    flex-direction: column !important;
  }
  #div-85 {
    flex-direction: column !important;
  }
  #div-87 {
    flex-direction: column !important;
  }
  #div-89 {
    flex-direction: column !important;
  }
  #div-92 {
    flex-direction: column !important;
  }
  #div-94 {
    flex-direction: column !important;
  }
  #div-97 {
    flex-direction: column !important;
  }
}
@media (min-width: 1400px) {
  #div-7 {
    max-width: 1140px !important;
  }
  #div-22 {
    max-width: 1140px !important;
  }
  #div-47 {
    max-width: 1140px !important;
  }
  #div-58 {
    max-width: 1140px !important;
  }
  #div-59 {
    max-width: 1140px !important;
  }
  #div-71 {
    max-width: 1140px !important;
  }
  #div-73 {
    max-width: 1140px !important;
  }
  #div-78 {
    max-width: 1140px !important;
  }
  #div-90 {
    max-width: 1140px !important;
  }
  #div-95 {
    max-width: 1140px !important;
  }
}
@media (max-width: 767px) {
  #div-8 {
    width: 100% !important;
  }
  #div-9 {
    padding-right: 0px !important;
  }
  #div-12 {
    width: 100% !important;
  }
  #div-16 {
    left: 1% !important;
  }
  #div-18 {
    top: -12% !important; right: 0px !important;
  }
  #section-2 {
    padding-top: 110px !important; padding-bottom: 110px !important;
  }
  #svg-1 {
    height: 90px !important;
  }
  #svg-2 {
    height: 90px !important;
  }
  #div-24 {
    margin-bottom: 20px !important;
  }
  #div-27 {
    margin-bottom: 20px !important;
  }
  #div-30 {
    margin-bottom: 20px !important;
  }
  #div-33 {
    margin-bottom: 20px !important;
  }
  #div-41 {
    margin-bottom: 35px !important; width: 100% !important;
  }
  #div-42 {
    margin-bottom: 35px !important; width: 100% !important;
  }
  #div-43 {
    margin-bottom: 35px !important; width: 100% !important;
  }
  #div-44 {
    margin-bottom: 35px !important; width: 100% !important;
  }
  #div-45 {
    margin-bottom: 35px !important; width: 100% !important;
  }
  #div-46 {
    margin-bottom: 35px !important; width: 100% !important;
  }
  #svg-3 {
    height: 100px !important;
  }
  #svg-4 {
    height: 100px !important;
  }
  #div-56 {
    top: -59px !important;
  }
  #div-62 {
    width: 100% !important;
  }
  #div-63 {
    width: 100% !important;
  }
  #div-64 {
    width: 100% !important;
  }
  #div-65 {
    width: 100% !important;
  }
  #div-67 {
    width: 100% !important;
  }
  #div-68 {
    width: 100% !important;
  }
  #div-69 {
    width: 100% !important;
  }
  #div-70 {
    width: 100% !important;
  }
  #div-72 {
    width: 100% !important;
  }
  #section-7 {
    padding-top: 70px !important; padding-bottom: 70px !important;
  }
  #div-75 {
    display: none !important;
  }
  #section-8 {
    padding-top: 40px !important; padding-bottom: 50px !important;
  }
  #div-81 {
    width: 80% !important; justify-content: center !important;
  }
  #section-9 {
    padding-top: 60px !important; padding-bottom: 40px !important; padding-right: 20px !important; padding-left: 20px !important;
  }
  #div-84 {
    display: none !important;
  }
  #div-93 {
    width: 50% !important; bottom: -3.4% !important;
  }
  #footer-1 {
    padding-bottom: 70px !important;
  }
  #div-96 {
    margin-bottom: 30px !important;
  }
  #ul-1 {
    justify-content: end !important;
  }
  #div-99 {
    margin-bottom: 15px !important;
  }
  #ul-2 {
    justify-content: start !important;
  }
}
@media (min-width: 768px) {
  #div-23 {
    width: 16.6667% !important;
  }
  #div-26 {
    width: 16.6667% !important;
  }
  #div-29 {
    width: 16.6667% !important;
  }
  #div-32 {
    width: 16.6667% !important;
  }
  #div-35 {
    width: 16.6667% !important;
  }
  #div-37 {
    width: 16.6667% !important;
  }
  #div-79 {
    width: 50% !important;
  }
  #div-80 {
    width: 50% !important;
  }
  #div-98 {
    width: 58.3333% !important;
  }
  #div-100 {
    width: 41.6667% !important;
  }
}
@media (min-width: 1200px) {
  #div-48 {
    width: 66.6667% !important;
  }
  #div-50 {
    width: 33.3333% !important;
  }
  #div-60 {
    width: 33.3333% !important;
  }
  #div-74 {
    width: 50% !important;
  }
  #footer-1 {
    position: sticky !important; bottom: 0px !important; overflow-x: hidden !important; overflow-y: hidden !important;
  }
}
</style>
<div style="color: rgb(126, 134, 147); font-size: 16px; max-width: 100vw" id="div-1"><span style="display: inline-block; width: 100vw; height: 100vh; position: fixed; top: 0px; left: 0px; background-color: rgba(0, 0, 0, 0.3); z-index: 3; opacity: 0; visibility: hidden"></span>
		<div style="background-color: rgb(255, 255, 255); position: relative">

			
			<header style="position: relative; max-width: 100vw" id="header-1">
				<div style="background-color: rgb(107, 205, 148); background-image: url(&quot;https://aspect-templates.netlify.app/hub-html/assets/images/demo/start-hub-6/bg/bg-1.jpg&quot;); background-position: 50% 50%; background-size: cover; padding-bottom: 10px; padding-top: 10px; font-weight: 500" id="div-2">
					<div style="width: 100%; margin: auto">
						<div style="align-items: center; flex-wrap: wrap; justify-content: center; display: flex; width: 100%">
							<div style="background-color: rgb(255, 255, 255); padding-left: 16px; padding-right: 16px; height: 100%; margin-right: 15px; border-radius: 76px; font-size: 10px; color: rgb(45, 60, 88); text-transform: uppercase">
								<p style="vertical-align: middle; display: inline-block">Free update</p>
							</div>
							<div style="font-size: 14px; color: rgb(255, 255, 255)">
								<p style="vertical-align: middle; display: inline-block">Free support, Free updates, Free plugins.</p>
							</div>
							<a href="https://aspect-templates.netlify.app/#" style="color: rgba(255, 255, 255, 0.6); align-items: center; font-size: 14px; justify-content: center; position: relative; text-transform: capitalize; display: inline-flex; margin-left: 10px; overflow: visible">
								<span style="cursor: pointer; padding-bottom: 0.2em">Join Us</span>
							</a>
						</div>
					</div>
				</div>
				<div style="align-items: center; border-bottom-width: 2px; justify-content: space-between; padding-left: 10px; padding-right: 16px; display: flex; border-color: rgba(112, 112, 112, 0.13); border-style: solid" id="div-3">
					<div style="display: flex">
						<div style="justify-content: center; display: flex; height: 100%; color: rgb(0, 0, 0)">
							<button style="align-items: center; cursor: pointer; justify-content: center; position: relative; text-align: center; display: flex; width: 55px; height: 100%; border-radius: 46px">
								
							</button>
							
							
						</div>
						<div style="display: flex; color: rgb(91, 123, 251)">
							<a href="https://aspect-templates.netlify.app/hub-html/index-start-hub-6" style="display: flex; height: auto">
								<span style="align-items: center; cursor: pointer; grid-template-columns: 76px; grid-template-rows: 56px; justify-items: center; display: grid">
									<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/logo/Logo.svg" style="width: 75.8125px; height: auto; max-width: 100%">
								</span>
							</a>
						</div>
					</div>
					<div style="display: flex; font-size: 14px; color: rgb(10, 44, 78); font-weight: 500">
						<div style="display: flex; min-height: 100%">
							<nav style="flex-grow: 1; display: inline-flex; overflow: visible" id="nav-1">
								<ul style="flex-grow: 1; display: flex; list-style-type: none">
									<li style="flex-direction: column; position: relative; display: inline-flex; width: auto">
										<a href="https://aspect-templates.netlify.app/#banner" style="align-items: center; flex-grow: 1; padding-bottom: ; padding-left: ; padding-right: ; padding-top: ; position: relative; display: inline-flex">
											<span style="cursor: pointer">Home</span>
											<span style="cursor: pointer; order: 1; text-align: end; display: inline-flex">
												<i></i>
											</span>
										</a>
									</li>
									<li style="flex-direction: column; position: relative; display: inline-flex; width: auto">
										<a href="https://aspect-templates.netlify.app/#help-center" style="align-items: center; flex-grow: 1; padding-bottom: ; padding-left: ; padding-right: ; padding-top: ; position: relative; display: inline-flex">
											<span style="cursor: pointer">Features</span>
											<span style="cursor: pointer; order: 1; text-align: end; display: inline-flex">
												<i></i>
											</span>
										</a>
									</li>
									<li style="flex-direction: column; position: relative; display: inline-flex; width: auto">
										<a href="https://aspect-templates.netlify.app/#video-tutorials" style="align-items: center; flex-grow: 1; padding-bottom: ; padding-left: ; padding-right: ; padding-top: ; position: relative; display: inline-flex">
											<span style="cursor: pointer">Community</span>
											<span style="color: rgb(111, 111, 255); align-items: center; cursor: pointer; font-size: 12px; padding-bottom: 0.6em; padding-left: 0.9em; padding-right: 0.9em; padding-top: 0.6em; position: relative; display: inline-flex; margin-top: -0.6em; margin-bottom: -0.6em; border-radius: 22px">New</span>
										</a>
									</li>
									<li style="flex-direction: column; position: relative; display: inline-flex; width: auto">
										<a href="https://aspect-templates.netlify.app/#submit-a-ticket" style="align-items: center; flex-grow: 1; padding-bottom: ; padding-left: ; padding-right: ; padding-top: ; position: relative; display: inline-flex">
											<span style="cursor: pointer">Pricing</span>
											<span style="cursor: pointer; order: 1; text-align: end; display: inline-flex">
												<i></i>
											</span>
										</a>
									</li>
									<li style="flex-direction: column; position: relative; display: inline-flex; width: auto">
										<a href="https://aspect-templates.netlify.app/#careers" style="align-items: center; flex-grow: 1; padding-bottom: ; padding-left: ; padding-right: ; padding-top: ; position: relative; display: inline-flex">
											<span style="cursor: pointer">Help Center</span>
											<span style="color: rgb(111, 111, 255); align-items: center; cursor: pointer; font-size: 12px; padding-bottom: 0.6em; padding-left: 0.9em; padding-right: 0.9em; padding-top: 0.6em; position: relative; display: inline-flex; margin-top: -0.6em; margin-bottom: -0.6em; border-radius: 22px">New</span>
										</a>
									</li>
								</ul>
							</nav>
						</div>
					</div>
					<div style="display: flex">
						<div style="display: flex; margin-right: 10px; color: rgb(100, 116, 139)">
							<span style="align-items: center; cursor: pointer; display: inline-flex">
								<span style="align-items: center; grid-template-columns: 1fr auto auto; grid-template-rows: 22px; display: inline-grid">
									En 
									<i></i>
								</span>
							</span>
							
						</div>
						<div style="display: flex">
							<div style="align-items: center; display: flex">
								<span style="color: rgb(156, 163, 175); align-items: center; cursor: pointer; position: relative; display: inline-flex; font-size: 20px">
									
									<span style="align-items: center; justify-content: center; position: relative; display: flex; width: 48px; height: 48px; border-radius: 1000px"><span style="display: inline-block; width: 100%; height: 100%; position: absolute; top: 0px; left: 0px; border: 1px solid; opacity: 0.15; border-radius: inherit"></span>
										<i></i>
									</span>
								</span>
								<div style="bottom: 512px; flex-direction: column; left: 0px; position: fixed; right: 0px; top: 0px; z-index: 999; display: none; width: 100%; height: 380px; overflow: hidden" id="div-4">
									<div style="flex-direction: column; justify-content: center; display: flex; width: 100%; height: 100%; max-width: 1200px; margin-left: auto" id="div-5">
										<form action="https://aspect-templates.netlify.app/#" style="width: 100%">
											<input value="" type="search" placeholder="Search" style="color: rgb(0, 0, 0); border-bottom-width: 4px; cursor: text; font-size: 70px; font-weight: 600; outline-offset: -2px; display: inline-block; width: 100%; height: 100px; margin-bottom: 20px; border-color: rgb(0, 0, 0); border-style: solid" id="input-1">
											<span style="color: rgb(184, 190, 202); align-items: center; cursor: pointer; justify-content: center; position: absolute; right: 0px; top: 50%; display: inline-flex; left: auto; width: 50px; height: 50px; margin-top: -30px" id="span-1"><span style="display: inline-block; width: 100%; height: 100%; border-radius: 50em; background-color: rgba(0, 0, 0, 0.05); transform: scale(0)"></span>
												<i><span style="display: inline-block; width: 22px; height: 2px; margin: -1px 0px 0px -11px; border-radius: 50em; position: absolute; top: 50%; left: 50%; background-color: rgb(0, 0, 0); transform: rotate(45deg) translateX(-17px) scale(0, 1)"></span><span style="display: inline-block; width: 22px; height: 2px; margin: -1px 0px 0px -11px; border-radius: 50em; position: absolute; top: 50%; left: 50%; background-color: rgb(0, 0, 0); transform: rotate(-45deg) translateX(17px) scale(0, 1)"></span></i>
											</span>
											
										</form>
										<p style="margin-bottom: 1rem">Type and hit enter</p>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div style="align-items: flex-end; bottom: 0px; justify-content: flex-start; left: 1392px; position: fixed; right: 0px; top: 0px; z-index: 10; display: flex; width: 100px; height: 100vh; color: rgb(255, 255, 255); font-weight: 500" id="div-6">
					<div style="max-width: 100%">
						<div style="height: auto; margin-right: -120px; margin-left: 60px">
							<a href="https://aspect-templates.netlify.app/#" style="align-items: center; background-image: linear-gradient(90deg, rgb(58, 147, 203) 0%, rgb(158, 119, 221) 100%); justify-content: center; padding-bottom: ; padding-left: ; padding-right: ; padding-top: ; display: inline-flex; border-radius: 6px; overflow: hidden">
								<span style="cursor: pointer">Made with Hub</span>
								<span style="align-items: center; cursor: pointer; justify-content: center; order: -1; display: inline-flex; margin-top: -5%; margin-right: 10px; margin-bottom: -5%">
									<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="14.063" viewbox="0 0 19.393 14.063" fill="rgb(255, 255, 255)" style="width: 15px; height: 14.0625px; max-height: 20px"><defs fill="rgb(255, 255, 255)"><lineargradient x1="0.808" y1="0.5" x2="0" y2="0.5" gradientunits="objectBoundingBox" fill="rgb(255, 255, 255)"><stop offset="0" stop-color="#fff" fill="rgb(255, 255, 255)"></stop><stop offset="1" stop-color="#fff" stop-opacity="0" fill="rgb(255, 255, 255)"></stop></lineargradient></defs><path d="M1,14.075a1,1,0,0,1-1-1V1.012a1,1,0,0,1,1-1H13.064a1,1,0,0,1,.9.553,1.99,1.99,0,0,1,.726.51L18.876,5.7a2,2,0,0,1,0,2.686l-4.19,4.627a1.99,1.99,0,0,1-.727.51,1,1,0,0,1-.9.552Z" transform="translate(0 -0.012)" fill="url(&quot;#a&quot;)"></path></svg>
								</span>
							</a>
						</div>
					</div>
				</div>
				
			</header>
			<main style="position: relative">
				<div>

					
					<section style="padding-bottom: 10px; padding-top: 10px; position: relative" id="section-1">
						<div style="padding-left: 10px; padding-right: 10px; width: 100%; margin: auto" id="div-7">
							<div style="align-items: center; flex-wrap: wrap; display: flex; margin: calc(-.5 * 20px)">
								<div style="align-items: center; flex-wrap: wrap; display: flex; width: 45%; margin-top: 10%" id="div-8">
									<div style="width: 100%; font-size: 74px; color: rgb(45, 60, 88); font-weight: 600">
										<h1 style="vertical-align: middle; display: inline-block">Digital Apps</h1>
									</div>
									<div style="width: 100%; font-size: 74px; color: rgb(45, 60, 88); font-weight: 600">
										<h2 style="background-clip: text; background-image: linear-gradient(50deg, rgb(141, 101, 233) 0%, rgb(107, 205, 148) 100%); vertical-align: middle; display: inline-block; margin-bottom: 0.2em">Redefined</h2>
									</div>
									<div style="padding-right: 80px; width: 100%; font-size: 20px; font-weight: 500" id="div-9">
										<p style="vertical-align: middle; display: inline-block; margin-bottom: 1.35em"><div> Centralize email, Facebook, Twitter, </div><div>message, web chat and 30+ apps in one </div><div>place.</div></p>
									</div>
									<div style="flex-wrap: wrap; display: flex; width: 85%; font-weight: 500" id="div-10">
										<div style="color: rgb(45, 60, 88)" id="div-11">
											<a href="https://aspect-templates.netlify.app/#help-center" style="align-items: center; justify-content: center; padding-bottom: ; padding-left: ; padding-right: ; padding-top: ; position: relative; display: inline-flex; margin-right: 30px; border-radius: 76px; overflow: hidden">
												<span style="cursor: pointer; position: relative"><div style="display: inline-flex"><span><div style="display: inline-block">E</div><div style="display: inline-block">x</div><div style="display: inline-block">p</div><div style="display: inline-block">l</div><div style="display: inline-block">o</div><div style="display: inline-block">r</div><div style="display: inline-block">e</div></span></div> <div style="display: inline-flex"><span><div style="display: inline-block">H</div><div style="display: inline-block">u</div><div style="display: inline-block">b</div></span></div> <div style="display: inline-flex"><span><div style="display: inline-block">A</div><div style="display: inline-block">d</div><div style="display: inline-block">v</div><div style="display: inline-block">a</div><div style="display: inline-block">n</div><div style="display: inline-block">t</div><div style="display: inline-block">a</div><div style="display: inline-block">g</div><div style="display: inline-block">e</div><div style="display: inline-block">s</div></span></div><span style="display: inline-block; position: absolute; white-space: nowrap; top: 50%; opacity: 0; transition: inherit; left: 50%; transform: translate(-50%, 150%)">attr(data-text)</span></span>
												<span style="align-items: center; cursor: pointer; justify-content: center; display: inline-flex; margin-top: -5%; margin-bottom: -5%">
													<svg xmlns="http://www.w3.org/2000/svg" height="1em" viewbox="0 0 448 512" fill="rgb(45, 60, 88)" style="width: 10.5px; height: 10.5px; max-height: 20px"><path d="M256 80c0-17.7-14.3-32-32-32s-32 14.3-32 32V224H48c-17.7 0-32 14.3-32 32s14.3 32 32 32H192V432c0 17.7 14.3 32 32 32s32-14.3 32-32V288H400c17.7 0 32-14.3 32-32s-14.3-32-32-32H256V80z" fill="rgb(45, 60, 88)"></path></svg>
												</span>
											</a>
										</div>
										<a href="https://aspect-templates.netlify.app/#contact-modal" style="color: rgb(100, 116, 139); align-items: center; font-size: 14px; justify-content: center; display: inline-flex; overflow: visible">
											<span style="cursor: pointer">Sign up — It's Free</span>
											<span style="align-items: center; cursor: pointer; justify-content: center; display: inline-flex; margin-top: -5%; margin-bottom: -5%">
												<i></i>
											</span>
											
										</a>
									</div>
									<div style="width: 100%; font-size: 12px; color: rgba(0, 0, 0, 0.5)">
										<p style="vertical-align: middle; display: inline-block; margin-top: 2em">Try for freecredit card required.</p>
									</div>
								</div>
								<div style="align-items: center; flex-wrap: wrap; position: relative; display: flex; width: 55%" id="div-12">
									<div style="left: 52%; position: absolute; top: -5%; z-index: 0; max-width: 100%">
										<div>
											<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-13">
												<figure style="display: inline-block; width: 100%">
													<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/shape/Rectangle-Copy.svg" style="width: 105px; height: auto; max-width: 100%">
												</figure>
											</div>
										</div>
									</div>
									<div style="bottom: -30%; position: absolute; right: -10%; z-index: 1; max-width: 100%" id="div-14">
										<div>
											<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-15">
												<figure style="display: inline-block; width: 100%">
													<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/shape/drop.svg" style="width: 93px; height: auto; max-width: 100%">
												</figure>
											</div>
										</div>
									</div>
									<div style="left: 6%; position: absolute; top: 10%; max-width: 100%" id="div-16">
										<div>
											<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-17">
												<figure style="display: inline-block; width: 100%">
													<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/shape/NEW.svg" style="width: 37px; height: auto; max-width: 100%">
												</figure>
											</div>
										</div>
									</div>
									<div style="position: absolute; right: -14%; top: -5%; width: 150px; max-width: 100%" id="div-18">
										<div>
											<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-19">
												<figure style="display: inline-block; width: 100%">
													<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/shape/Thunderbolt.png" style="width: 150px; height: auto; max-width: 100%">
												</figure>
											</div>
										</div>
									</div>
									<div style="margin-right: -16%; margin-bottom: -36%; margin-left: -17%" id="div-20">
										<div style="max-width: 100%">
											<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-21">
												<figure style="display: inline-block; width: 100%">
													<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/banner/Mockups-1536x1262.png" style="width: 833.898px; height: auto; max-width: 100%">
												</figure>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					

					
					<section style="background-image: url(&quot;https://aspect-templates.netlify.app/hub-html/assets/images/demo/start-hub-6/bg/bg-2.jpg&quot;); background-position: 50% 85%; background-size: cover; padding-bottom: 200px; padding-top: 210px; position: relative" id="section-2">
						<div style="left: 0px; position: absolute; top: 0px; width: 100%; overflow: hidden">
							<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 100" preserveaspectratio="none" fill="rgb(0, 0, 0)" style="width: 1494px; height: 160px" id="svg-1">
								<path d="M0,6V0h1000v100L0,6z" fill="rgb(255, 255, 255)"></path>
							</svg>
						</div>
						<div style="bottom: 0px; left: 0px; position: absolute; width: 100%; overflow: hidden">
							<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 100" preserveaspectratio="none" fill="rgb(0, 0, 0)" style="width: 1494px; height: 160px" id="svg-2">
								<path d="M0,6V0h1000v100L0,6z" fill="rgb(255, 255, 255)"></path>
							</svg>
						</div>
						<div style="padding-left: 10px; padding-right: 10px; width: 100%; margin: auto" id="div-22">
							<div style="align-items: center; flex-wrap: wrap; justify-content: center; display: flex; margin: calc(-.5 * 20px)">
								<div style="text-align: center; width: 100%; max-width: 100%; font-size: 22px; color: rgb(255, 255, 255)">
									<div>
										<p style="vertical-align: middle; display: inline-block; margin-bottom: 1.75em">Trusted by these amazing companies</p>
									</div>
								</div>
								<div style="text-align: center; width: 50%; max-width: 100%" id="div-23">
									<div style="border-right-width: 2px; border-color: rgba(255, 255, 255, 0.2); border-style: solid" id="div-24">
										<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-25">
											<figure style="display: inline-block; width: 100%">
												<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/clients/Mode.svg" style="width: 86px; height: auto; max-width: 100%">
											</figure>
										</div>
									</div>
								</div>
								<div style="text-align: center; width: 50%; max-width: 100%" id="div-26">
									<div style="border-right-width: 2px; border-color: rgba(255, 255, 255, 0.2); border-style: solid" id="div-27">
										<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-28">
											<figure style="display: inline-block; width: 100%">
												<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/clients/nike.svg" style="width: 75px; height: auto; max-width: 100%">
											</figure>
										</div>
									</div>
								</div>
								<div style="text-align: center; width: 50%; max-width: 100%" id="div-29">
									<div style="border-right-width: 2px; border-color: rgba(255, 255, 255, 0.2); border-style: solid" id="div-30">
										<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-31">
											<figure style="display: inline-block; width: 100%">
												<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/clients/Path-133531.svg" style="width: 83px; height: auto; max-width: 100%">
											</figure>
										</div>
									</div>
								</div>
								<div style="text-align: center; width: 50%; max-width: 100%" id="div-32">
									<div style="border-right-width: 2px; border-color: rgba(255, 255, 255, 0.2); border-style: solid" id="div-33">
										<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-34">
											<figure style="display: inline-block; width: 100%">
												<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/clients/Path-46878.svg" style="width: 46px; height: auto; max-width: 100%">
											</figure>
										</div>
									</div>
								</div>
								<div style="text-align: center; width: 50%; max-width: 100%" id="div-35">
									<div style="border-right-width: 2px; border-color: rgba(255, 255, 255, 0.2); border-style: solid">
										<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-36">
											<figure style="display: inline-block; width: 100%">
												<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/clients/volkswagen-1.svg" style="width: 55px; height: auto; max-width: 100%">
											</figure>
										</div>
									</div>
								</div>
								<div style="text-align: center; width: 50%; max-width: 100%" id="div-37">
									<div>
										<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-38">
											<figure style="display: inline-block; width: 100%">
												<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/clients/Path-141907.svg" style="width: 79px; height: auto; max-width: 100%">
											</figure>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					

					
					<section id="section-3">
						
					</section>
					

					
					<section style="background-image: url(&quot;https://aspect-templates.netlify.app/hub-html/assets/images/demo/start-hub-6/bg/bg-4.svg&quot;); background-position: 50% 50%; background-repeat: no-repeat; padding-bottom: 70px; padding-top: 30px; position: relative" id="section-4">
						<div style="padding-left: 10px; padding-right: 10px; width: 100%; margin: auto">
							<div style="flex-wrap: wrap; justify-content: center; display: flex; margin: calc(-.5 * 20px)">
								<div style="text-align: center; width: 100%; max-width: 100%">
									<div style="margin-bottom: 10px">
										<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-39">
											<figure style="display: inline-block; width: 100%">
												<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/shape/divider.svg" style="width: 80px; height: auto; max-width: 100%">
											</figure>
										</div>
									</div>
								</div>
								<div style="text-align: center; width: 100%; max-width: 100%; font-size: 42px; color: rgb(45, 60, 88); font-weight: 600">
									<div style="margin-bottom: 30px">
										<h2 style="vertical-align: middle; display: inline-block; margin-bottom: 0.4em">Built for everyone.</h2>
									</div>
								</div>
								<div style="width: 100%; max-width: 100%; padding: 10px">
									<div style="flex-wrap: wrap; justify-content: space-between; display: flex; width: 950px; margin-left: auto" id="div-40">
										<div style="width: 45%; margin-bottom: 65px" id="div-41">
											<div style="flex-grow: 1; display: flex">
												<div style="font-size: 30px">
													<div style="align-items: center; justify-content: center; display: inline-flex; width: 80px; height: 80px; border-radius: 20px">
														<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="34.715" viewbox="0 0 40.841 34.715" fill="rgb(126, 134, 147)" style="display: inline-block; width: 50px; height: 1em">
															<defs fill="rgb(126, 134, 147)">
																<lineargradient x1="0.5" x2="0.5" y2="1" gradientunits="objectBoundingBox" fill="rgb(126, 134, 147)">
																	<stop offset="0" stop-color="#483dd3" fill="rgb(126, 134, 147)"></stop>
																	<stop offset="1" stop-color="#60a3e6" fill="rgb(126, 134, 147)"></stop>
																</lineargradient>
															</defs>
															<g transform="translate(-4.084 -8.168)" fill="rgb(126, 134, 147)">
																<path d="M7.063,42.715H41.778a3.063,3.063,0,0,0,3.063-3.063V17.189a3.063,3.063,0,0,0-3.063-3.063H20.336L15.107,8.9A3.063,3.063,0,0,0,12.941,8H7.063A3.063,3.063,0,0,0,4,11.063V39.652A3.063,3.063,0,0,0,7.063,42.715Z" transform="translate(0.084 0.168)" fill-rule="evenodd" opacity="0.624" fill="url(&quot;#icn-grad-1&quot;)" style="opacity: 0.624"></path>
																<path d="M23.161,24.323a3.161,3.161,0,1,1,3.161-3.161A3.161,3.161,0,0,1,23.161,24.323Z" transform="translate(1.036 2.991)" fill="rgb(255, 255, 255)" fill-rule="evenodd"></path>
																<path d="M14,35.112C14.341,30.4,17.743,28,21.889,28c4.2,0,7.659,2.266,7.916,7.113a.659.659,0,0,1-.66.79H14.639C14.419,35.9,13.982,35.369,14,35.112Z" transform="translate(2.295 0.895)" fill="rgb(255, 255, 255)" fill-rule="evenodd"></path>
															</g>
														</svg>
													</div>
												</div>
												<div>
													<h3 style="color: rgb(45, 60, 88); font-size: 20px; font-weight: 600; display: inline-block; margin-bottom: 0.85em">
														Collaboration Tools
														
													</h3>
													Endless use-cases that make it highly flexible, adaptable, and scalable for everyone.
												</div>
											</div>
										</div>
										<div style="width: 45%; margin-bottom: 65px" id="div-42">
											<div style="flex-grow: 1; display: flex">
												<div style="font-size: 30px">
													<div style="align-items: center; justify-content: center; display: inline-flex; width: 80px; height: 80px; border-radius: 20px">
														<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="30.952" viewbox="0 0 37.585 30.952" fill="rgb(126, 134, 147)" style="display: inline-block; width: 50px; height: 1em">
															<defs fill="rgb(126, 134, 147)">
																<lineargradient x1="0.5" x2="0.5" y2="1" gradientunits="objectBoundingBox" fill="rgb(126, 134, 147)">
																	<stop offset="0" stop-color="#483dd3" fill="rgb(126, 134, 147)"></stop>
																	<stop offset="1" stop-color="#60a3e6" fill="rgb(126, 134, 147)"></stop>
																</lineargradient>
															</defs>
															<g transform="translate(-6.632 -13.768)" opacity="0.624" fill="rgb(126, 134, 147)" style="opacity: 0.624">
																<path d="M9.316,14H20.37a3.316,3.316,0,0,1,0,6.632H9.316a3.316,3.316,0,0,1,0-6.632Zm19.9,17.686H40.267a3.316,3.316,0,1,1,0,6.632H29.213a3.316,3.316,0,1,1,0-6.632Z" transform="translate(0.632 2.581)" fill-rule="evenodd" opacity="0.577" fill="url(&quot;#icn-grad-22&quot;)" style="opacity: 0.577"></path>
																<path d="M36.952,23.265a6.633,6.633,0,1,1,6.633-6.633A6.633,6.633,0,0,1,36.952,23.265ZM12.633,40.952a6.633,6.633,0,1,1,6.633-6.633A6.633,6.633,0,0,1,12.633,40.952Z" transform="translate(0.632 3.768)" fill-rule="evenodd" fill="url(&quot;#icn-grad-22&quot;)"></path>
															</g>
														</svg>
													</div>
												</div>
												<div>
													<h3 style="color: rgb(45, 60, 88); font-size: 20px; font-weight: 600; display: inline-block; margin-bottom: 0.85em">
														Global Style Customizer 
														
													</h3>
													Choose a pre-built header or create a custom layout that perfectly suits your needs. 
												</div>
											</div>
										</div>
										<div style="width: 45%; margin-bottom: 65px" id="div-43">
											<div style="flex-grow: 1; display: flex">
												<div style="font-size: 30px">
													<div style="align-items: center; justify-content: center; display: inline-flex; width: 80px; height: 80px; border-radius: 20px">
														<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="30" viewbox="0 0 46.166 30" fill="rgb(126, 134, 147)" style="display: inline-block; width: 50px; height: 1em">
															<defs fill="rgb(126, 134, 147)">
																<lineargradient x1="0.5" x2="0.5" y2="1" gradientunits="objectBoundingBox" fill="rgb(126, 134, 147)">
																	<stop offset="0" stop-color="#483dd3" fill="rgb(126, 134, 147)"></stop>
																	<stop offset="1" stop-color="#60a3e6" fill="rgb(126, 134, 147)"></stop>
																</lineargradient>
															</defs>
															<g opacity="0.624" fill="rgb(126, 134, 147)" style="opacity: 0.624">
																<path d="M23.072,16.364a13.6,13.6,0,0,0-10.5,4.937l-4.2-3.481a19.092,19.092,0,0,1,29.435.041L33.6,21.332A13.6,13.6,0,0,0,23.072,16.364Zm0-10.91A24.48,24.48,0,0,0,4.194,14.312L0,10.823a30,30,0,0,1,46.166.029l-4.2,3.483A24.49,24.49,0,0,0,23.072,5.454Z" opacity="0.3" fill="url(&quot;#icn-grad-6&quot;)" style="opacity: 0.3"></path>
																<path d="M12.628,2.891,8.469,6.419,6.314,8.182l-2.057-1.7L0,3.068a8.182,8.182,0,0,1,12.628-.177Z" transform="translate(16.685 21.818)" fill="url(&quot;#icn-grad-6&quot;)"></path>
															</g>
														</svg>
													</div>
												</div>
												<div>
													<h3 style="color: rgb(45, 60, 88); font-size: 20px; font-weight: 600; display: inline-block; margin-bottom: 0.85em">
														Artificial intelligent bots
														
													</h3>
													A huge collection of elements, rich customization options, flexible layouts, and instant results!
												</div>
											</div>
										</div>
										<div style="width: 45%; margin-bottom: 65px" id="div-44">
											<div style="flex-grow: 1; display: flex">
												<div style="font-size: 30px">
													<div style="align-items: center; justify-content: center; display: inline-flex; width: 80px; height: 80px; border-radius: 20px">
														<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="30.691" viewbox="0 0 39.063 30.691" fill="rgb(126, 134, 147)" style="display: inline-block; width: 50px; height: 1em">
															<defs fill="rgb(126, 134, 147)">
																<lineargradient x1="0.5" x2="0.5" y2="1" gradientunits="objectBoundingBox" fill="rgb(126, 134, 147)">
																	<stop offset="0" stop-color="#483dd3" fill="rgb(126, 134, 147)"></stop>
																	<stop offset="1" stop-color="#60a3e6" fill="rgb(126, 134, 147)"></stop>
																</lineargradient>
															</defs>
															<g transform="translate(0.5 0.521)" opacity="0.624" fill="rgb(126, 134, 147)" style="opacity: 0.624">
																<path d="M10.235,30.029a1.344,1.344,0,0,0,2.462.745L23.176,15.056a1.344,1.344,0,0,0-1.118-2.089H13.819v-9.9a1.344,1.344,0,0,0-2.462-.745L.878,18.045A1.344,1.344,0,0,0,2,20.134h8.239Z" transform="translate(14.64 -1.726)" stroke="#000000" stroke-miterlimit="10" fill="url(&quot;#icn-grad-4&quot;)"></path>
																<path d="M5.1,25a1.5,1.5,0,0,1-1.5-1.5v-2A1.5,1.5,0,0,1,5.1,20H16.5A1.5,1.5,0,0,1,18,21.5v2A1.5,1.5,0,0,1,16.5,25ZM1.5,15A1.5,1.5,0,0,1,0,13.5v-2A1.5,1.5,0,0,1,1.5,10h9.6a1.5,1.5,0,0,1,1.5,1.5v2A1.5,1.5,0,0,1,11.1,15ZM5.1,5A1.5,1.5,0,0,1,3.6,3.5v-2A1.5,1.5,0,0,1,5.1,0H16.5A1.5,1.5,0,0,1,18,1.5v2A1.5,1.5,0,0,1,16.5,5Z" transform="translate(0 2.325)" stroke="#000000" stroke-miterlimit="10" opacity="0.3" fill="url(&quot;#icn-grad-4&quot;)" style="opacity: 0.3"></path>
															</g>
														</svg>
													</div>
												</div>
												<div>
													<h3 style="color: rgb(45, 60, 88); font-size: 20px; font-weight: 600; display: inline-block; margin-bottom: 0.85em">
														Automated notifications
														
													</h3>
													Mix and match different section blocks to jump start your design process and create unique.
												</div>
											</div>
										</div>
										<div style="width: 45%; margin-bottom: 65px" id="div-45">
											<div style="flex-grow: 1; position: relative; display: flex">
												<span style="color: rgb(141, 101, 233); background-color: rgba(137, 94, 208, 0.13); font-size: 10px; font-weight: 700; padding-bottom: 6px; padding-left: 12px; padding-right: 12px; padding-top: 6px; position: absolute; right: 0px; text-transform: uppercase; display: inline-block; border-radius: 500px">Pro</span>
												<div style="font-size: 30px">
													<div style="align-items: center; justify-content: center; display: inline-flex; width: 80px; height: 80px; border-radius: 20px">
														<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="37.488" viewbox="0 0 37.562 37.488" fill="rgb(126, 134, 147)" style="display: inline-block; width: 50px; height: 1em">
															<defs fill="rgb(126, 134, 147)">
																<lineargradient x1="0.5" x2="0.5" y2="1" gradientunits="objectBoundingBox" fill="rgb(126, 134, 147)">
																	<stop offset="0" stop-color="#483dd3" fill="rgb(126, 134, 147)"></stop>
																	<stop offset="1" stop-color="#60a3e6" fill="rgb(126, 134, 147)"></stop>
																</lineargradient>
															</defs>
															<g transform="translate(-1.622)" fill="rgb(126, 134, 147)">
																<path d="M16.409,15.8A11.108,11.108,0,0,1,31.16,1.032L24.98,6.485a4.241,4.241,0,0,0-1.224,3.632l.322,1.612a2.374,2.374,0,0,0,1.731,1.728l1.615.321a4.263,4.263,0,0,0,3.639-1.222l5.464-6.168a11.108,11.108,0,0,1-14.8,14.722,4.374,4.374,0,0,1-.346.411L7.441,36.168a4.2,4.2,0,0,1-6.034.081l-.165-.165a4.18,4.18,0,0,1,.081-6.022L16,16.147A4.375,4.375,0,0,1,16.409,15.8Z" transform="translate(1.622 0)" opacity="0.624" fill="url(&quot;#icn-grad-5&quot;)" style="opacity: 0.624"></path>
															</g>
														</svg>
													</div>
												</div>
												<div>
													<h3 style="color: rgb(45, 60, 88); font-size: 20px; font-weight: 600; display: inline-block; margin-bottom: 0.85em">
														Translation Support
														
													</h3>
													We offerquestions asked refund policy for 21 days from the policy date.
												</div>
											</div>
										</div>
										<div style="width: 45%; margin-bottom: 65px" id="div-46">
											<div style="flex-grow: 1; display: flex">
												<div style="font-size: 30px">
													<div style="align-items: center; justify-content: center; display: inline-flex; width: 80px; height: 80px; border-radius: 20px">
														<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="33" viewbox="0 0 43.002 33" fill="rgb(126, 134, 147)" style="display: inline-block; width: 50px; height: 1em">
															<defs fill="rgb(126, 134, 147)">
																<lineargradient x1="0.5" x2="0.5" y2="1" gradientunits="objectBoundingBox" fill="rgb(126, 134, 147)">
																	<stop offset="0" stop-color="#483dd3" fill="rgb(126, 134, 147)"></stop>
																	<stop offset="1" stop-color="#60a3e6" fill="rgb(126, 134, 147)"></stop>
																</lineargradient>
															</defs>
															<g transform="translate(-381.998 -2316.225)" opacity="0.624" fill="rgb(126, 134, 147)" style="opacity: 0.624">
																<path d="M-1774.567,20744.1a4,4,0,0,1-4-4,4,4,0,0,1,4-4h23a4,4,0,0,1,4,4,4,4,0,0,1-4,4Zm0-12a4,4,0,0,1-4-4,4,4,0,0,1,4-4h35a4,4,0,0,1,4,4,4,4,0,0,1-4,4Zm0-13a4,4,0,0,1-4-4,4,4,0,0,1,4-4h20a4,4,0,0,1,4,4,4,4,0,0,1-4,4Z" transform="translate(2160.568 -18394.877)" opacity="0.817" fill="url(&quot;#icn-grad-66&quot;)" style="opacity: 0.817"></path>
															</g>
														</svg>
													</div>
												</div>
												<div>
													<h3 style="color: rgb(45, 60, 88); font-size: 20px; font-weight: 600; display: inline-block; margin-bottom: 0.85em">
														High Performance Servers
														
													</h3>
													Choose a pre-built header or create a custom layout that perfectly suits your needs. 
												</div>
											</div>
										</div>
									</div>
								</div>
								<div style="text-align: center; width: 100%; max-width: 100%">
									<div>
										<p style="background-color: rgba(162, 178, 201, 0.15); padding-bottom: 10px; padding-left: 20px; padding-right: 20px; padding-top: 10px; vertical-align: middle; display: inline-block; border-radius: 76px">
											Still have a question? Browse
											<a href="https://aspect-templates.netlify.app/#" style="color: rgb(91, 123, 251)"><div style="cursor: pointer; text-decoration-line: underline">documentation</div></a>
											or
											<a href="https://aspect-templates.netlify.app/#careers" style="color: rgb(91, 123, 251)"><div style="cursor: pointer; text-decoration-line: underline">submit a ticket</div></a>
										</p>
									</div>
								</div>
							</div>
						</div>
					</section>
					

					
					<section style="background-image: url(&quot;https://aspect-templates.netlify.app/hub-html/assets/images/demo/start-hub-6/bg/dots.jpg&quot;); background-position: 50% 0%; background-repeat: no-repeat; background-size: 70%; padding-bottom: 70px; padding-top: 70px; position: relative" id="section-5">
						<div style="padding-left: 10px; padding-right: 10px; width: 100%; margin: auto" id="div-47">
							<div style="flex-wrap: wrap; display: flex; margin: calc(-.5 * 20px)">
								<div style="position: relative; width: 100%; max-width: 100%; padding: 10px" id="div-48">
									<div style="left: 2%; position: absolute; top: 15%; z-index: 0" id="div-49">
										<figure>
											<svg xmlns="http://www.w3.org/2000/svg" height="374.384" viewbox="0 0 669.299 374.384" fill="rgb(0, 0, 0)" style="display: inline; width: 100%; height: auto">
												<path d="M256.5,251.117C296.56,225.99,453.511,74.865,496.846,100.356s-36.78,282.222,19.665,303.707,265.835-145.663,319-174.8" transform="translate(-211.011 -64.48)" fill="none" stroke="#6bcd94" stroke-linecap="round"></path>
											</svg>
										</figure>
									</div>
								</div>
								<div style="width: 100%; max-width: 100%; padding: 10px" id="div-50">
									<div style="font-size: 42px; color: rgb(45, 60, 88); font-weight: 600">
										<h2 style="vertical-align: middle; display: inline-block; margin-bottom: 0.2em"><div> Agility and Scale</div></h2>
									</div>
									<div style="margin-bottom: 15px">
										<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-51">
											<figure style="display: inline-block; width: 100%">
												<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/shape/divider-2.svg" style="width: 80px; height: auto; max-width: 100%">
											</figure>
										</div>
									</div>
									<div style="font-size: 18px">
										<p style="vertical-align: middle; display: inline-block; margin-bottom: 1.5em"><div> Adjust your design through a wide range of </div><div>theme options in the Customizer.</div></p>
									</div>
								</div>
								<div style="width: 100%; max-width: 100%">
									<div style="flex-direction: row-reverse; flex-wrap: wrap; display: flex" id="div-52">
										<nav style="align-items: start; grid-auto-flow: column; grid-template-columns: 366px; grid-template-rows: 292px; display: grid; width: 32%; font-size: 18px; color: rgb(50, 60, 71); font-weight: 500" id="nav-2">
											<ul style="flex-direction: column; display: flex; list-style-type: none">
												<li style="display: list-item; width: 100%">
													<a href="https://aspect-templates.netlify.app/#aspect-tab-item-1" style="padding-bottom: 1em; padding-left: 26px; padding-right: 26px; padding-top: 1em; border-radius: 4px">
														<span style="color: rgb(255, 255, 255); background-color: rgb(101, 189, 145); align-items: center; cursor: pointer; font-size: 16px; font-weight: 700; justify-content: center; display: inline-flex; width: 28px; height: 28px; margin-right: 1em; border-radius: 766px">
															<i></i>
														</span>
														<span style="cursor: pointer">Wireless Solutions</span>
													</a>
												</li>
												<li style="display: list-item; width: 100%">
													<a href="https://aspect-templates.netlify.app/#aspect-tab-item-2" style="padding-bottom: 1em; padding-left: 26px; padding-right: 26px; padding-top: 1em; border-radius: 4px">
														<span style="background-color: rgba(50, 60, 71, 0.05); align-items: center; cursor: pointer; font-size: 16px; font-weight: 700; justify-content: center; display: inline-flex; width: 28px; height: 28px; margin-right: 1em; border-radius: 766px">
															<i></i>
														</span>
														<span style="cursor: pointer">Global Theme Options</span>
													</a>
												</li>
												<li style="display: list-item; width: 100%">
													<a href="https://aspect-templates.netlify.app/#aspect-tab-item-3" style="padding-bottom: 1em; padding-left: 26px; padding-right: 26px; padding-top: 1em; border-radius: 4px">
														<span style="background-color: rgba(50, 60, 71, 0.05); align-items: center; cursor: pointer; font-size: 16px; font-weight: 700; justify-content: center; display: inline-flex; width: 28px; height: 28px; margin-right: 1em; border-radius: 766px">
															<i></i>
														</span>
														<span style="cursor: pointer">Ultra Fast TTFB</span>
													</a>
												</li>
											</ul>
										</nav>
										<div style="padding-right: 2em; width: calc(100% - 32%)" id="div-53">
											<div>
												<div style="margin-top: -30%; margin-right: -10%; margin-bottom: -20%; padding: 10px" id="div-54">
													<div>
														<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-55">
															<figure style="display: inline-block; width: 100%">
																<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/tab-items/img-6.png" style="width: 799.711px; height: auto; max-width: 100%">
															</figure>
														</div>
													</div>
												</div>
											</div>
											
											
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					

					
					
					

					
					<section style="background-image: linear-gradient(rgb(33, 42, 60) 0%, rgb(14, 31, 65) 100%); padding-bottom: 185px; padding-top: 250px; position: relative" id="section-6">
						<div style="left: 0px; position: absolute; top: 0px; width: 100%; overflow: hidden">
							<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 1000 100" preserveaspectratio="none" fill="rgb(0, 0, 0)" style="width: 1494px; height: 165px" id="svg-3">
								<path d="M0,6V0h1000v100L0,6z" fill="rgb(255, 255, 255)"></path>
							</svg>
						</div>
						<div style="bottom: 0px; left: 0px; position: absolute; z-index: 2; width: 100%; overflow: hidden">
							<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 2600 131.1" preserveaspectratio="none" fill="rgb(0, 0, 0)" style="width: 1494px; height: 175px" id="svg-4">
								<path d="M0 0L2600 0 2600 69.1 0 0z" fill="rgb(255, 255, 255)"></path>
								<path d="M0 0L2600 0 2600 69.1 0 69.1z" fill="rgb(255, 255, 255)" style="opacity: 0.5"></path>
								<path d="M2600 0L0 0 0 130.1 2600 69.1z" fill="rgb(255, 255, 255)" style="opacity: 0.25"></path>
							</svg>
						</div>
						<div style="left: 26%; position: absolute; top: 0px; z-index: 2; width: 100%">
							<div>
								<div>
									<figure>
										<svg xmlns="http://www.w3.org/2000/svg" height="182.773" viewbox="0 0 255.64 182.773" fill="rgb(0, 0, 0)" style="display: inline; width: 255.633px; height: 182.766px">
											<path d="M629.327,2793.022s26.615,148.038,71.511,142.649c13.427-2.278,22.262-11.867,28.131-22.554,8-14.569,9.938-31.107,9.938-31.107s29.991,80.066,62.334,80.06,27.3-44.1,27.3-44.1,9.277,42.023,49.372,50.767" transform="translate(-625.844 -2789.539)" fill="none" stroke="#ff5125" stroke-linecap="round" stroke-linejoin="round"></path>
										</svg>
									</figure>
								</div>
							</div>
						</div>
						<div style="position: absolute; right: -2%; top: -100px" id="div-56">
							<div>
								<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-57">
									<figure style="display: inline-block; width: 100%">
										<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/shape/shape-3.svg" style="width: 486px; height: auto; max-width: 100%">
									</figure>
								</div>
							</div>
						</div>
						<div style="padding-left: 10px; padding-right: 10px; width: 100%; margin: auto" id="div-58">
							<div style="flex-wrap: wrap; display: flex; margin: calc(-.5 * 20px)">
								<div>
									<div style="padding-left: 10px; padding-right: 10px; width: 100%; margin: auto" id="div-59">
										<div style="flex-wrap: wrap; display: flex; margin: calc(-.5 * 20px)">
											<div style="position: relative; width: 100%; max-width: 100%; padding: 10px" id="div-60">
												
												<div style="background-image: linear-gradient(0deg, rgb(23, 36, 62) 40%, rgba(23, 36, 62, 0) 100%); bottom: 0px; position: absolute; z-index: 2; width: 100%; min-height: 245px"></div>
											</div>
											
										</div>
									</div>
								</div>
							</div>
						</div>
						<div style="width: 100%; margin: auto; font-size: 106px; font-weight: 700">
							<div style="flex-wrap: wrap; display: flex; margin: calc(-.5 * 20px)">
								<div style="width: 100%; max-width: 100%; color: rgb(255, 255, 255)">
									<div style="margin-top: 50px; overflow: hidden">
										<div id="div-61">
											<div style="mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%); display: flex; margin: -30px">
												<div style="flex-basis: 100%; flex-grow: 1; width: 100%; height: 100%; overflow: hidden">
													<div style="align-items: flex-start; display: flex; width: 100%; height: 100%">
														<div style="flex-direction: column; justify-content: center; padding-left: 30px; padding-right: 30px; display: flex" id="div-62">
															<div style="width: 100%">
																<div style="width: 100%">
																	Cloud systems 🤩
																</div>
															</div>
														</div>
														<div style="flex-direction: column; justify-content: center; padding-left: 30px; padding-right: 30px; display: flex" id="div-63">
															<div style="width: 100%">
																<div style="width: 100%">
																	High Performance
																</div>
															</div>
														</div>
														<div style="flex-direction: column; justify-content: center; padding-left: 30px; padding-right: 30px; display: flex" id="div-64">
															<div style="width: 100%">
																<div style="width: 100%">
																	Cloud systems 🤩
																</div>
															</div>
														</div>
														<div style="flex-direction: column; justify-content: center; padding-left: 30px; padding-right: 30px; display: flex" id="div-65">
															<div style="width: 100%">
																<div style="width: 100%">
																	High Performance
																</div>
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
								<div style="width: 100%; max-width: 100%; color: rgba(255, 255, 255, 0.4)">
									<div style="margin-bottom: 30px" id="div-66">
										<div style="mask-image: linear-gradient(to right, rgba(0, 0, 0, 0) 0%, rgb(0, 0, 0) 20%, rgb(0, 0, 0) 80%, rgba(0, 0, 0, 0) 100%); display: flex; margin: -30px">
											<div style="flex-basis: 100%; flex-grow: 1; width: 100%; height: 100%; overflow: hidden">
												<div style="align-items: flex-start; display: flex; width: 100%; height: 100%">
													<div style="flex-direction: column; justify-content: center; padding-left: 30px; padding-right: 30px; display: flex" id="div-67">
														<div style="width: 100%">
															<div style="width: 100%">
																Optical Fiber Network ⚡
															</div>
														</div>
													</div>
													<div style="flex-direction: column; justify-content: center; padding-left: 30px; padding-right: 30px; display: flex" id="div-68">
														<div style="width: 100%">
															<div style="width: 100%">
																API Integration
															</div>
														</div>
													</div>
													<div style="flex-direction: column; justify-content: center; padding-left: 30px; padding-right: 30px; display: flex" id="div-69">
														<div style="width: 100%">
															<div style="width: 100%">
																Optical Fiber Network ⚡
															</div>
														</div>
													</div>
													<div style="flex-direction: column; justify-content: center; padding-left: 30px; padding-right: 30px; display: flex" id="div-70">
														<div style="width: 100%">
															<div style="width: 100%">
																API Integration
															</div>
														</div>
													</div>
												</div>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
						<div style="padding-left: 10px; padding-right: 10px; width: 100%; margin: auto; color: rgba(255, 255, 255, 0.8)" id="div-71">
							<div style="flex-wrap: wrap; display: flex; margin: calc(-.5 * 20px)">
								<div style="width: 100%; max-width: 100%; padding: 10px">
									<div style="width: 300px" id="div-72">
										<p style="vertical-align: middle; display: inline-block; margin-bottom: 0.5em">Take your business to the next level Hub's built-in risk and profit management tools.</p>
									</div>
								</div>
							</div>
						</div>
					</section>
					

					
					<section style="padding-bottom: 160px; padding-top: 120px; position: relative" id="section-7">
						<div style="padding-left: 10px; padding-right: 10px; width: 100%; margin: auto" id="div-73">
							<div style="flex-wrap: wrap; display: flex; margin: calc(-.5 * 20px)">
								<div style="position: relative; text-align: center; width: 100%; max-width: 100%; padding: 10px" id="div-74">
									<div style="left: 12%; position: absolute; top: 10%; z-index: 0; max-width: 100%" id="div-75">
										<figure>
											<svg xmlns="http://www.w3.org/2000/svg" height="454" viewbox="0 0 421 454" fill="none" style="display: inline; width: 421px; height: 454px">
												<path d="M19.9825 124.207C104.89 -36.1255 346.014 -23.9645 410.809 144.689" stroke="#49c193" stroke-linecap="round" fill="none"></path>
												<path d="M10.2579 309.748C77.9419 478.078 319.015 491.188 401.084 330.23" stroke="#707070" stroke-opacity="0.1" stroke-linecap="round" fill="none"></path>
											</svg>
										</figure>
									</div>
									<div id="div-76">
										<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-77">
											<figure style="display: inline-block; width: 100%">
												<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/video-box/phone.png" style="width: 50%; height: auto; max-width: 100%">
											</figure>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</section>
					

					
					
					

					
					
					

					
					<section style="padding-bottom: 10px; padding-top: 10px" id="section-8">
						<div style="padding-left: 10px; padding-right: 10px; width: 100%; margin: auto" id="div-78">
							<div style="align-items: center; flex-wrap: wrap; display: flex; margin: calc(-.5 * 20px)">
								<div style="width: 100%; max-width: 100%; padding: 10px; font-size: 26px; color: rgb(45, 60, 88); font-weight: 600" id="div-79">
									<div>
										<div>
											<div>
												<h4>
													<a href="https://aspect-templates.netlify.app/#collapse-item-1" style="align-items: center; border-bottom-color: rgb(218, 221, 225); border-bottom-width: 2px; font-size: 18px; padding-bottom: 0.65em; padding-top: 0.65em; display: flex; width: 100%; border-style: solid">
														<span style="cursor: pointer">Google mobile can monetize your app</span>
														<span style="cursor: pointer; display: inline-flex">
															<i style="display: inline-block"></i>
															
														</span>
													</a>
												</h4>
											</div>
											
										</div>
										<div>
											<div>
												<h4>
													<a href="https://aspect-templates.netlify.app/#collapse-item-2" style="align-items: center; border-bottom-color: rgb(218, 221, 225); border-bottom-width: 2px; font-size: 18px; padding-bottom: 0.65em; padding-top: 0.65em; display: flex; width: 100%; border-style: solid">
														<span style="cursor: pointer">Performance shared hosting in your account </span>
														<span style="cursor: pointer; display: inline-flex">
															<i style="display: inline-block"></i>
															
														</span>
													</a>
												</h4>
											</div>
											
										</div>
										<div>
											<div>
												<h4>
													<a href="https://aspect-templates.netlify.app/#collapse-item-3" style="align-items: center; border-bottom-color: rgb(218, 221, 225); border-bottom-width: 2px; font-size: 18px; padding-bottom: 0.65em; padding-top: 0.65em; display: flex; width: 100%; border-style: solid">
														<span style="cursor: pointer">Track the location of your cars</span>
														<span style="cursor: pointer; display: inline-flex">
															<i style="display: inline-block"></i>
															
														</span>
													</a>
												</h4>
											</div>
											
										</div>
										<div>
											<div>
												<h4>
													<a href="https://aspect-templates.netlify.app/#collapse-item-4" style="align-items: center; border-bottom-color: rgb(218, 221, 225); border-bottom-width: 2px; font-size: 18px; padding-bottom: 0.65em; padding-top: 0.65em; display: flex; width: 100%; border-style: solid">
														<span style="cursor: pointer">Google mobile can monetize your app</span>
														<span style="cursor: pointer; display: inline-flex">
															<i style="display: inline-block"></i>
															
														</span>
													</a>
												</h4>
											</div>
											
										</div>
									</div>
								</div>
								<div style="width: 100%; max-width: 100%; padding: 10px" id="div-80">
									<div style="justify-content: flex-end; display: flex; margin-left: auto" id="div-81">
										<div style="display: flex; width: 410px; max-width: 100%">
											<div style="align-items: flex-start; justify-content: center; display: inline-flex; max-width: 100%" id="div-82">
												<figure style="display: inline-block; width: 100%">
													<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/has-accordion/iphone.png" style="width: 410px; height: auto; max-width: 100%">
												</figure>
											</div>
										</div>
									</div>
								</div>
							</div>
						</div>
					</section>
					

					
					
					

					
					<section style="padding-bottom: 45px; padding-top: 80px; position: relative" id="section-9">
						<div style="left: -90px; position: absolute; top: -126px; z-index: 1; max-width: 100%">
							<div>
								<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-83">
									<figure style="display: inline-block; width: 100%">
										<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/download-app/left.svg" style="width: 540px; height: auto; max-width: 100%">
									</figure>
								</div>
							</div>
						</div>
						<div style="position: absolute; right: -40px; top: -262px; z-index: 1; max-width: 100%" id="div-84">
							<div>
								<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-85">
									<figure style="display: inline-block; width: 100%">
										<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/download-app/right.svg" style="width: 540px; height: auto; max-width: 100%">
									</figure>
								</div>
							</div>
						</div>
						<div style="left: -240px; position: absolute; top: 60%; z-index: 1; max-width: 100%" id="div-86">
							<div>
								<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-87">
									<figure style="display: inline-block; width: 100%">
										<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/download-app/right-1.svg" style="width: 540px; height: auto; max-width: 100%">
									</figure>
								</div>
							</div>
						</div>
						<div style="position: absolute; right: -232px; top: 60%; z-index: 1; max-width: 100%" id="div-88">
							<div>
								<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-89">
									<figure style="display: inline-block; width: 100%">
										<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/download-app/right-2.svg" style="width: 540px; height: auto; max-width: 100%">
									</figure>
								</div>
							</div>
						</div>
						<div style="padding-left: 10px; padding-right: 10px; width: 100%; margin: auto" id="div-90">
							<div style="flex-wrap: wrap; justify-content: center; text-align: center; display: flex; margin: calc(-.5 * 20px)">
								<div style="align-items: stretch; flex-direction: column; position: relative; display: flex; width: 100%; margin-bottom: 30px">
									<div style="align-self: center; width: 900px; max-width: 100%" id="div-91">
										<div style="height: 100%; margin-bottom: -12%; margin-left: 5%">
											<div>
												<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-92">
													<figure style="display: inline-block; width: 100%">
														<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/download-app/ipad-floating.png" style="width: 834px; height: auto; max-width: 100%">
													</figure>
												</div>
											</div>
										</div>
									</div>
									<div style="bottom: -45px; left: 60px; position: absolute; z-index: 1; width: 390px" id="div-93">
										<div style="height: 100%; margin-bottom: -21%">
											<div style="margin-bottom: -20%">
												<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-94">
													<figure style="display: inline-block; width: 100%">
														<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/download-app/iPhone-13-Pro-floating.png" style="width: 390px; height: auto; max-width: 100%">
													</figure>
												</div>
											</div>
										</div>
									</div>
								</div>
								
							</div>
						</div>
					</section>
					

				</div>
			</main>

			<footer style="padding-bottom: 90px; padding-top: 46px" id="footer-1">
				<div style="padding-left: 10px; padding-right: 10px; width: 100%; margin: auto" id="div-95">
					<div style="align-items: center; flex-wrap: wrap; justify-content: space-between; display: flex; margin: calc(-.5 * 20px)">
						<div style="width: auto; max-width: 100%">
							<div id="div-96">
								<div style="align-items: center; justify-content: center; display: inline-flex; max-width: 100%" id="div-97">
									<figure style="display: inline-block; width: 100%">
										<img src="https://aspect-templates.netlify.app/hub-html/./assets/images/demo/start-hub-6/logo/Logo.svg" style="width: 75px; height: auto; max-width: 100%">
									</figure>
								</div>
							</div>
						</div>
						<div style="text-align: end; width: auto; max-width: 100%; font-size: 14px; color: rgb(100, 116, 139)">
							<div style="position: relative">
								<ul style="align-items: center; flex-wrap: wrap; display: flex; list-style-type: none" id="ul-1">
									<li style="flex-wrap: wrap; text-align: right; display: inline-flex; width: auto; margin-right: 30px">
										<a href="https://aspect-templates.netlify.app/#" style="align-items: center; justify-content: flex-end; display: inline-flex">
											<span style="cursor: pointer; display: inline-flex">
												<svg xmlns="http://www.w3.org/2000/svg" height="13.125" viewbox="0 0 13.125 13.125" fill="rgb(100, 116, 139)" style="width: 1em; height: 1em">
													<path d="M5.625-12.187H-5.628a.942.942,0,0,0-.935.946V-.009a.942.942,0,0,0,.935.946H5.625a.944.944,0,0,0,.937-.946V-11.241A.944.944,0,0,0,5.625-12.187ZM-2.6-.937H-4.541V-7.2h1.948V-.937Zm-.973-7.119A1.128,1.128,0,0,1-4.7-9.185a1.128,1.128,0,0,1,1.128-1.128A1.13,1.13,0,0,1-2.44-9.185,1.127,1.127,0,0,1-3.568-8.057ZM4.7-.937H2.751V-3.984c0-.727-.015-1.661-1.011-1.661C.727-5.646.571-4.854.571-4.037v3.1H-1.374V-7.2H.492v.855H.519A2.049,2.049,0,0,1,2.361-7.356c1.969,0,2.335,1.3,2.335,2.985Z" transform="translate(6.563 12.187)" fill="rgb(106, 122, 144)"></path>
												</svg>
											</span>
											<span style="cursor: pointer">Linkedin</span>
										</a>
									</li>
									<li style="flex-wrap: wrap; text-align: right; display: inline-flex; width: auto; margin-right: 30px">
										<a href="https://aspect-templates.netlify.app/#" style="align-items: center; justify-content: flex-end; display: inline-flex">
											<span style="cursor: pointer; display: inline-flex">
												<svg xmlns="http://www.w3.org/2000/svg" height="12.183" viewbox="0 0 15 12.183" fill="rgb(100, 116, 139)" style="width: 1em; height: 1em">
													<path d="M5.958-8.68A6.608,6.608,0,0,0,7.5-10.27a6.163,6.163,0,0,1-1.77.476,3.066,3.066,0,0,0,1.352-1.694,6.052,6.052,0,0,1-1.951.742,3.067,3.067,0,0,0-2.246-.971A3.073,3.073,0,0,0-.19-8.642a3.47,3.47,0,0,0,.076.7,8.738,8.738,0,0,1-6.339-3.217A3.051,3.051,0,0,0-6.872-9.6,3.072,3.072,0,0,0-5.5-7.043a3.1,3.1,0,0,1-1.39-.39V-7.4A3.075,3.075,0,0,0-4.426-4.378a3.251,3.251,0,0,1-.809.1,3.875,3.875,0,0,1-.581-.048A3.08,3.08,0,0,0-2.941-2.189,6.157,6.157,0,0,1-6.758-.876,6.362,6.362,0,0,1-7.5-.914,8.688,8.688,0,0,0-2.779.466,8.687,8.687,0,0,0,5.968-8.28C5.968-8.414,5.968-8.547,5.958-8.68Z" transform="translate(7.5 11.716)" fill="rgb(106, 122, 144)"></path>
												</svg>
											</span>
											<span style="cursor: pointer">Twitter</span>
										</a>
									</li>
									<li style="flex-wrap: wrap; position: relative; text-align: right; display: inline-flex; width: auto; margin-right: 30px">
										<a href="https://aspect-templates.netlify.app/#" style="align-items: center; justify-content: flex-end; position: relative; display: inline-flex">
											
											<span style="cursor: pointer">Feature</span>
											<span style="color: rgb(111, 111, 255); align-items: center; cursor: pointer; font-size: 12px; padding-bottom: 0.6em; padding-left: 0.9em; padding-right: 0.9em; padding-top: 0.6em; position: relative; display: inline-flex; margin-top: -0.6em; margin-bottom: -0.6em; border-radius: 22px">Soon</span>
										</a>
									</li>
									<li style="flex-wrap: wrap; text-align: right; display: inline-flex; width: auto; margin-right: 30px">
										<a href="https://aspect-templates.netlify.app/#" style="align-items: center; justify-content: flex-end; display: inline-flex">
											
											<span style="cursor: pointer">Privacy Policy</span>
										</a>
									</li>
									<li style="flex-wrap: wrap; text-align: right; display: inline-flex; width: auto; margin-right: 30px">
										<a href="https://aspect-templates.netlify.app/#" style="align-items: center; justify-content: flex-end; display: inline-flex">
											
											<span style="cursor: pointer">Subscribe</span>
										</a>
									</li>
									<li style="flex-wrap: wrap; text-align: right; display: inline-flex; width: auto">
										<a href="https://aspect-templates.netlify.app/#" style="align-items: center; justify-content: flex-end; display: inline-flex">
											<span style="cursor: pointer; order: 1; text-align: end; display: inline-flex">
												<i></i>
											</span>
											<span style="cursor: pointer">Company</span>
										</a>
									</li>
								</ul>
							</div>
						</div>
						
						<div style="width: 100%; max-width: 100%; padding: 10px; font-size: 12px" id="div-98">
							<div id="div-99">
								<p style="vertical-align: middle; display: inline-block; margin-bottom: 0.5em">These Terms will be applied fully and affect to your use of this Website. By using this Website, you agreed to accept all terms and conditions written in here. You must not use this Website if you disagree with any of these Website Standard </p>
							</div>
						</div>
						<div style="width: 100%; max-width: 100%; padding: 10px" id="div-100">
							<ul style="flex-wrap: wrap; justify-content: flex-end; display: flex; list-style-type: none" id="ul-2">
								<li style="justify-content: flex-end; text-align: end; display: flex; margin: 10px">
									<span>
										<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 640 512" fill="rgb(106, 122, 144)" style="display: inline; width: 30px; height: 30px">
											<path d="M180.5,74.262C80.813,74.262,0,155.633,0,256S80.819,437.738,180.5,437.738,361,356.373,361,256,280.191,74.262,180.5,74.262Zm288.25,10.646c-49.845,0-90.245,76.619-90.245,171.095s40.406,171.1,90.251,171.1,90.251-76.619,90.251-171.1H559C559,161.5,518.6,84.908,468.752,84.908Zm139.506,17.821c-17.526,0-31.735,68.628-31.735,153.274s14.2,153.274,31.735,153.274S640,340.631,640,256C640,171.351,625.785,102.729,608.258,102.729Z" fill="rgb(106, 122, 144)"></path>
										</svg>
									</span>
									
								</li>
								<li style="justify-content: flex-end; text-align: end; display: flex; margin: 10px">
									<span>
										<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 448 512" fill="rgb(106, 122, 144)" style="display: inline; width: 30px; height: 30px">
											<path d="M224.1 141c-63.6 0-114.9 51.3-114.9 114.9s51.3 114.9 114.9 114.9S339 319.5 339 255.9 287.7 141 224.1 141zm0 189.6c-41.1 0-74.7-33.5-74.7-74.7s33.5-74.7 74.7-74.7 74.7 33.5 74.7 74.7-33.6 74.7-74.7 74.7zm146.4-194.3c0 14.9-12 26.8-26.8 26.8-14.9 0-26.8-12-26.8-26.8s12-26.8 26.8-26.8 26.8 12 26.8 26.8zm76.1 27.2c-1.7-35.9-9.9-67.7-36.2-93.9-26.2-26.2-58-34.4-93.9-36.2-37-2.1-147.9-2.1-184.9 0-35.8 1.7-67.6 9.9-93.9 36.1s-34.4 58-36.2 93.9c-2.1 37-2.1 147.9 0 184.9 1.7 35.9 9.9 67.7 36.2 93.9s58 34.4 93.9 36.2c37 2.1 147.9 2.1 184.9 0 35.9-1.7 67.7-9.9 93.9-36.2 26.2-26.2 34.4-58 36.2-93.9 2.1-37 2.1-147.8 0-184.8zM398.8 388c-7.8 19.6-22.9 34.7-42.6 42.6-29.5 11.7-99.5 9-132.1 9s-102.7 2.6-132.1-9c-19.6-7.8-34.7-22.9-42.6-42.6-11.7-29.5-9-99.5-9-132.1s-2.6-102.7 9-132.1c7.8-19.6 22.9-34.7 42.6-42.6 29.5-11.7 99.5-9 132.1-9s102.7-2.6 132.1 9c19.6 7.8 34.7 22.9 42.6 42.6 11.7 29.5 9 99.5 9 132.1s2.7 102.7-9 132.1z" fill="rgb(106, 122, 144)"></path>
										</svg>
									</span>
									
								</li>
								<li style="justify-content: flex-end; text-align: end; display: flex; margin: 10px">
									<span>
										<svg xmlns="http://www.w3.org/2000/svg" viewbox="0 0 512 512" fill="rgb(106, 122, 144)" style="display: inline; width: 30px; height: 30px">
											<path d="M459.37 151.716c.325 4.548.325 9.097.325 13.645 0 138.72-105.583 298.558-298.558 298.558-59.452 0-114.68-17.219-161.137-47.106 8.447.974 16.568 1.299 25.34 1.299 49.055 0 94.213-16.568 130.274-44.832-46.132-.975-84.792-31.188-98.112-72.772 6.498.974 12.995 1.624 19.818 1.624 9.421 0 18.843-1.3 27.614-3.573-48.081-9.747-84.143-51.98-84.143-102.985v-1.299c13.969 7.797 30.214 12.67 47.431 13.319-28.264-18.843-46.781-51.005-46.781-87.391 0-19.492 5.197-37.36 14.294-52.954 51.655 63.675 129.3 105.258 216.365 109.807-1.624-7.797-2.599-15.918-2.599-24.04 0-57.828 46.782-104.934 104.934-104.934 30.213 0 57.502 12.67 76.67 33.137 23.715-4.548 46.456-13.32 66.599-25.34-7.798 24.366-24.366 44.833-46.132 57.827 21.117-2.273 41.584-8.122 60.426-16.243-14.292 20.791-32.161 39.308-52.628 54.253z" fill="rgb(106, 122, 144)"></path>
										</svg>
									</span>
									
								</li>
							</ul>
						</div>
					</div>
				</div>
			</footer>
		</div>

		
		
		

		
		<a href="https://aspect-templates.netlify.app/" style="color: rgb(91, 123, 251); bottom: 32px; left: 32px; position: fixed; right: 1396px; top: 796px; z-index: 100">
			<svg fill="rgb(115, 0, 255)" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" height="64px" viewbox="0 0 547.596 547.596" xml:space="preserve" stroke="#7300ff" style="cursor: pointer; display: inline; width: 64px; height: 64px"><g fill="rgb(115, 0, 255)"></g><g stroke-linecap="round" stroke-linejoin="round" fill="rgb(115, 0, 255)"></g><g fill="rgb(115, 0, 255)"> <g fill="rgb(115, 0, 255)"> <path d="M540.76,254.788L294.506,38.216c-11.475-10.098-30.064-10.098-41.386,0L6.943,254.788 c-11.475,10.098-8.415,18.284,6.885,18.284h75.964v221.773c0,12.087,9.945,22.108,22.108,22.108h92.947V371.067 c0-12.087,9.945-22.108,22.109-22.108h93.865c12.239,0,22.108,9.792,22.108,22.108v145.886h92.947 c12.24,0,22.108-9.945,22.108-22.108v-221.85h75.965C549.021,272.995,552.081,264.886,540.76,254.788z" fill="rgb(115, 0, 255)" stroke="#7300ff"></path> </g> </g></svg>
		</a>

		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		
		

		
		
		
		
		
		
		
		

		
		
		

	

<section></section><div><div><div><div><div><div style="background-color: rgba(251, 249, 246, 0.7); align-items: center; bottom: 892px; left: 0px; outline-style: solid; outline-width: 2px; position: absolute; right: 1492px; top: 0px; z-index: 2147483647; border-radius: 10px"><div style="backdrop-filter: blur(10px); position: absolute; right: 0px; display: flex; border-radius: 10px; padding: 4px"><div style="align-items: center; display: flex; gap: 4px"><button style="align-items: flex-start; cursor: pointer; width: 24px; height: 24px"><button style="align-items: center; justify-content: center; display: flex; width: 24px; height: 24px; margin-left: auto; border-radius: 6px; padding: 2px"><div style="align-items: center; justify-content: center; display: flex; width: 20px; height: 20px"><div><svg height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 20px; height: 20px"><path d="M15.1707 16.4338L10.5947 12.2926C10.2544 11.9848 9.7458 11.9848 9.40567 12.2926L4.82962 16.4338C4.24685 16.9612 3.3335 16.5342 3.3335 15.7344V4.26349C3.3335 3.7497 3.73712 3.33325 4.23508 3.33325H15.7652C16.2632 3.33325 16.6668 3.7497 16.6668 4.26349V15.7345C16.6668 16.5342 15.7535 16.9611 15.1707 16.4338Z" fill="rgb(36, 29, 13)" fill-opacity="0.5"></path></svg></div></div></button></button><button style="align-items: flex-start; cursor: pointer; width: 24px; height: 24px"><button style="align-items: center; justify-content: center; display: flex; width: 24px; height: 24px; border-radius: 6px; padding: 2px"><div style="align-items: center; justify-content: center; display: flex; width: 20px; height: 20px"><div><svg height="20" viewbox="0 0 20 20" fill="none" xmlns="http://www.w3.org/2000/svg" style="width: 20px; height: 20px"><path d="M15.8329 10.6762C15.7333 12.2594 15.5193 13.664 15.1365 14.8047C14.9754 15.3959 14.7105 15.8333 14.1851 15.8333H5.21849C4.69307 15.8333 4.26704 15.3728 4.26704 14.8047C4.33891 14.5478 4.40579 14.2889 4.46839 14.0283C4.51506 13.834 4.67535 13.6973 4.86103 13.6973H12.606C13.3165 13.6973 13.993 13.3487 14.4156 12.7647C14.8731 12.1325 15.2659 11.4132 15.6014 10.6094C15.6571 10.476 15.8421 10.5301 15.8329 10.6762ZM12.6059 12.4004H3.02074C2.61983 12.4004 2.36496 11.9246 2.57583 11.5561C3.82356 9.37548 4.57935 7.18265 4.73003 4.21237C4.75514 3.71731 5.14208 3.33325 5.60061 3.33325H14.885C15.404 3.33325 15.8019 3.81965 15.7551 4.37845C15.4837 7.61349 14.7755 10.1627 13.4708 11.9656C13.2653 12.2495 12.9393 12.4004 12.6059 12.4004Z" fill="rgb(36, 29, 13)" fill-opacity="0.5"></path></svg></div></div></button></button></div></div></div></div></div></div></div></div></div> */ -->